h1{
    text-align: center;
    font-family: Polya;
    font-size: 50px;
    margin-top: 40px;
}

h2{
    text-align: center;
    font-size: 80px;
}

p{
    font-size: 18px;
}

img {
    max-width: 75%;
    height: auto;
    display: block;
    margin: 0 auto;
  }




/*first bar et Fonctions*/
#firstbar {
    display: flex;
    justify-content: center; /* centre les éléments horizontalement */
    align-items: center; /* centre les éléments verticalement */
    background-color: black;
    color: white;
    padding: 10px; /* marge intérieure de 10 pixels */
}

#name1 p, #name2 p {
    padding: 10px 10px; /* marge intérieure de 10 pixels en haut et en bas, 10 pixels à gauche et à droite */
    font-size: 150%;
    text-align: center; /* centre l'image horizontalement */
    margin: 0; /* supprime les marges par défaut */
}
/*END -> first bar et Fonctions*/

/*Menu de la bar pour Accueil et Fonctions*/
#menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: royalblue;
    color: white;
    padding: 10px;
}

#menubar a {
    color: white;
    text-decoration: red;
    font-size: 20px;
    padding: 5px 280px;
}

#menubar a:hover {
    background-color: blue;
    color: red;
}


#menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: royalblue;
    color: white;
    padding: 10px;
}
/*END -> Menu de la bar pour Accueil et Fonctions*/