.cube1 {
    position: absolute;
    width: 300px;
    height: 300px;
    top: calc(37%);
    left: calc(45%);
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube1 div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube1 div span {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #08ec00);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.cube1 div span a {
    position: fixed;
    font-size: 4.5em; /* Taille du texte */
    color: white;
    text-decoration: none; /* Supprimer le soulignement */
    transform: translateZ(20px); /* Pour que le texte soit de + en + éloigné du cube */
}

.cube1 div span a:nth-child(1) {
    transform: translateZ(0) translateY(20px);
    color: rgba(0,0,0,0.1);
    filter: blur(2px);
}

.top1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 360px;
    height: 360px;
    background: #222;
    transform: rotateX(90deg) translateZ(150px);
}

.top1::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #0f0;
    transform: translateZ(-400px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0,255,0,0.2),
    0 0 200px rgba(0,255,0,0.2),
    0 0 300px rgba(0,255,0,0.4),
    0 0 400px rgba(0,255,0,0.6),
    0 0 500px rgba(0,255,0,1);
}

/*------------------------------------------------------------------------*/

.cube2 {
    position: absolute;
    width: 150px;
    height: 150px;
    top: calc(65%);
    left: calc(10%);
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 10s linear infinite;
}

.cube2 div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube2 div span {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #ec0000);
    transform: rotateY(calc(90deg * var(--i))) translateZ(75px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.cube2 div span a {
    position: fixed;
    font-size: 2.4em; /* Taille du texte */
    color: white;
    text-decoration: none; /* Supprimer le soulignement */
    transform: translateZ(10px); /* Pour que le texte soit de + en + éloigné du cube */
}

.cube2 div span a:nth-child(1) {
    transform: translateZ(0) translateY(10px);
    color: rgba(0,0,0,0.1);
    filter: blur(2px);
}

.top2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 180px;
    height: 180px;
    background: #222;
    transform: rotateX(90deg) translateZ(75px);
}

.top2::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: rgb(255, 0, 0);
    transform: translateZ(-200px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(255, 0, 0, 0.2),
    0 0 200px rgba(255, 0, 0, 0.2),
    0 0 300px rgba(255, 0, 0, 0.4),
    0 0 400px rgba(255, 0, 0, 0.6),
    0 0 500px rgb(255, 0, 0);
}

/*------------------------------------------------------------------------*/

.cube3 {
    position: absolute;
    width: 210px;
    height: 210px;
    top: calc(20%);
    left: calc(75%);
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 10s linear infinite;
}

.cube3 div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube3 div span {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #d000ec);
    transform: rotateY(calc(90deg * var(--i))) translateZ(105px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.cube3 div span a {
    position: fixed;
    font-size: 2.5em; /* Taille du texte */
    color: white;
    text-decoration: none; /* Supprimer le soulignement */
    transform: translateZ(15px); /* Pour que le texte soit de + en + éloigné du cube */
}

.cube3 div span a:nth-child(1) {
    transform: translateZ(0) translateY(15px);
    color: rgba(0,0,0,0.1);
    filter: blur(2px);
}

.top3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 252px;
    height: 252px;
    background: #222;
    transform: rotateX(90deg) translateZ(105px);
}

.top3::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 210px;
    height: 210px;
    background: #d000ec;
    transform: translateZ(-280px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0,255,0,0.2),
    0 0 200px rgba(208, 0, 236, 0.2),
    0 0 300px rgba(208,0,236,0.4),
    0 0 400px rgba(208,0,236,0.6),
    0 0 500px rgba(208,0,236,1);
}

/*------------------------------------------------------------------------*/

.cube4 {
    position: absolute;
    width: 105px;
    height: 105px;
    top: calc(28%);
    left: calc(22%);
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 10s linear infinite;
}

.cube4 div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube4 div span {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515, #00a1ec);
    transform: rotateY(calc(90deg * var(--i))) translateZ(52.5px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}

.cube4 div span a {
    position: fixed;
    font-size: 1.7em; /* Taille du texte */
    color: white;
    text-decoration: none; /* Supprimer le soulignement */
    transform: translateZ(5px); /* Pour que le texte soit de + en + éloigné du cube */
}

.cube4 div span a:nth-child(1) {
    transform: translateZ(0) translateY(5px);
    color: rgba(0,0,0,0.1);
    filter: blur(2px);
}

.top4 {
    position: fixed;
    top: 0;
    left: 0;
    width: 126px;
    height: 126px;
    background: #222;
    transform: rotateX(90deg) translateZ(52.5px);
}

.top4::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 105px;
    height: 105px;
    background: #00a1ec;
    transform: translateZ(-140px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0,255,0,0.2),
    0 0 200px rgba(0,161,236,0.2),
    0 0 300px rgba(0,161,236,0.4),
    0 0 400px rgba(0,161,236,0.6),
    0 0 500px rgba(0,161,236,1);
}

/*------------------------------------------------------------------------*/

/* Ordinateur portable L - 1440px*/
@media all and (max-width: 1735px) {
    .cube1 {
        width: 200px;
        height: 200px;
    }
    .cube1 div span {
        transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
    }
    .cube1 div span a {
        font-size: 3em; /* Taille du texte */
        transform: translateZ(20px); /* Pour que le texte soit de + en + éloigné du cube */
    }
    .top1 {
        width: 240px;
        height: 240px;
        transform: rotateX(90deg) translateZ(100px);
    }
    .top1::before {
        width: 200px;
        height: 200px;
        transform: translateZ(-266px);
    }

    .cube2 {
        width: 105px;
        height: 105px;
    }
    .cube2 div {
        width: 100%;
        height: 100%;
    }
    .cube2 div span {
        width: 100%;
        height: 100%;
        transform: rotateY(calc(90deg * var(--i))) translateZ(52.5px);
    }
    .cube2 div span a {
        font-size: 1.7em; /* Taille du texte */
        transform: translateZ(5px); /* Pour que le texte soit de + en + éloigné du cube */
    }
    .cube2 div span a:nth-child(1) {
        transform: translateZ(0) translateY(20px);
    }
    .top2 {
        width: 126px;
        height: 126px;
        transform: rotateX(90deg) translateZ(52.5px);
    }
    .top2::before {
        width: 105px;
        height: 105px;
        transform: translateZ(-140px);
    }

    .cube3 {
        width: 140px;
        height: 140px;
    }
    .cube3 div span {
        transform: rotateY(calc(90deg * var(--i))) translateZ(70px);
    }
    .cube3 div span a {
        font-size: 1.7em; /* Taille du texte */
        transform: translateZ(10px); /* Pour que le texte soit de + en + éloigné du cube */
    }
    .top3 {
        width: 168px;
        height: 168px;
        transform: rotateX(90deg) translateZ(70px);
    }
    .top3::before {
        width: 140px;
        height: 140px;
        transform: translateZ(-186px);
    }

    .cube4 {
        width: 70px;
        height: 70px;
    }
    .cube4 div span {
        transform: rotateY(calc(90deg * var(--i))) translateZ(35px);
    }
    .cube4 div span a {
        font-size: 1.3em; /* Taille du texte */
        transform: translateZ(3px); /* Pour que le texte soit de + en + éloigné du cube */
    }
    .top4 {
        width: 240px;
        height: 240px;
        transform: rotateX(90deg) translateZ(35px);
    }
    .top4::before {
        width: 70px;
        height: 70px;
        transform: translateZ(-93px);
    }
}

/* smartphones Android, Tablette et Ordinateur portable - 1024px*/
@media all and (max-width: 1024px) {
    .cube1,
    .cube2,
    .cube3,
    .cube4 {
        display: none;
    }
}