a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}

body {
    background: black;
}

footer {
    display: flex;
    position: absolute;
    top: 920px;
    left: 1725px;
}

footer p {
    margin: 0;
}

footer p:not(:last-child) {
    margin-right: 10px;
}

h1 {
    position: absolute;
    color: white;
    font-size: 75px;
}