body {
    background: black;
}

h1 {
    position: absolute;
    color: white;
    font-size: 75px;
}

a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
}

.print {
    display: none;
}

footer {
    display: flex;
    position: absolute;
    top: 920px;
    left: 1725px;
}

footer p {
    margin: 0;
}

footer p:not(:last-child) {
    margin-right: 10px;
}


/* Ordinateur portable L - 1440px*/
@media all and (max-width: 1440px) {
    h1 {
        font-size: 4em; /* Ajustez la valeur en fonction de la taille souhaitée */
    }
    footer {
        top: 700px;
        left: 1230px;
    }
}

/* Ordinateur portable - 1024px*/
@media all and (max-width: 1024px) {
    h1 {
        font-size: 3em; /* Ajustez la valeur en fonction de la taille souhaitée */
    }
    footer {
        top: 700px;
        left: 820px;
    }
}

/* smartphones Android, Tablette et Ordinateur portable - 1024px*/
@media all and (max-width: 1024px) {
    h1 {
        font-size: 2em; /* Ajustez la valeur en fonction de la taille souhaitée */
        text-align: center;
        display: flex;
        top: 70px;
    }
    footer {
        display: none;
    }
    .print {
        display: inline;
    }
}