.container_explications_fonctions {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    flex-wrap: wrap;
}

.container_explications_fonctions .box {
    position: relative;
    width: fit-content; /* Ajuster la largeur en fonction du contenu */
    height: fit-content; /* Ajuster la hauteur en fonction du contenu */
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 30px;
    transition: 0.5s;
}


.container_explications_fonctions .box:hover {
    transform: translateY(-20px);
}

.container_explications_fonctions .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#03a9f4,#ff0058);
}

.container_explications_fonctions .box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,#03a9f4,#ff0058);
    filter: blur(30px);
}

/*Couleur des box*/
.container_explications_fonctions .box:nth-child(2)::before,
.container_explications_fonctions .box:nth-child(2)::after {
    background: linear-gradient(315deg,#4dff03,#00d0ff);
}
/*Fin Couleur des box*/

.container_explications_fonctions .box span {
    position: absolute;
    top: 6px;
    left: 6px;
    right: 6px;
    bottom: 6px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
}

.container_explications_fonctions .box span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.container_explications_fonctions .box .content_explications_fonctions {
    position: relative;
    z-index: 10;
    padding: 20px 40px;
}

.container_explications_fonctions .box .content_explications_fonctions h2 {
    font-size: 2em;
    color: white;
    margin-bottom: 50px;
}

.container_explications_fonctions .box .content_explications_fonctions p {
    font-size: 1.1em;
    color: white;
    margin: 20px 20px;
    margin-bottom: 10px;
    line-height: 1.4em;
    text-align: justify;
}

.container_explications_fonctions .box .content_explications_fonctions pre {
    font-size: 1.1em;
    color: white;
    margin-bottom: 10px;
    line-height: 1.4em;
}




/*Changement de la taille des boîtes*/
.container_explications_fonctions .box:nth-child(1),
.container_explications_fonctions .box:nth-child(2) {
    width: 650px;
    height: 650px;
}




/* Bar */
.container_explications_fonctions .box:nth-child(1) .content_explications_fonctions,
.container_explications_fonctions .box:nth-child(2) .content_explications_fonctions {
    height: 100%; /* Utiliser toute la hauteur de la boîte pour le contenu */
    overflow: auto;
    max-height: 100%; /* Définir une hauteur maximale pour le contenu défilable */
}

.container_explications_fonctions .box:nth-child(1) .content_explications_fonctions::-webkit-scrollbar,
.container_explications_fonctions .box:nth-child(2) .content_explications_fonctions::-webkit-scrollbar {
    width: 10px; /* Largeur de la barre de défilement */
    height: 10px; /* Hauteur de la barre de défilement */
}

.container_explications_fonctions .box:nth-child(1) .content_explications_fonctions::-webkit-scrollbar-thumb,
.container_explications_fonctions .box:nth-child(2) .content_explications_fonctions::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg,#03a9f4,#ff0058); /* Couleur de la barre de défilement */
    border-radius: 15px;
}
/*Fin Bar*/






/* Ordinateur portable L - 1440px*/
@media all and (max-width: 1440px) {
    /*Changement de la taille des boîtes*/
    .container_explications_fonctions .box:nth-child(1),
    .container_explications_fonctions .box:nth-child(2) {
        width: 500px;
        height: 600px;
    }
    /*Changement des taille de la police*/
    .container_explications_fonctions .box .content_explications_fonctions h2 {
        font-size: 1.7em;
    }
    .container_explications_fonctions .box .content_explications_fonctions pre,
    .container_explications_fonctions .box .content_explications_fonctions p {
        font-size: 0.96em;
    }
}

@media all and (max-width: 1349px) {
    /*Changement de la taille des boîtes*/
    .container_explications_fonctions .box:nth-child(1),
    .container_explications_fonctions .box:nth-child(2) {
        width: 400px;
        height: 500px;
    }
    /*Changement des taille de la police*/
    .container_explications_fonctions .box .content_explications_fonctions h2 {
        font-size: 1.7em;
    }
    .container_explications_fonctions .box .content_explications_fonctions pre,
    .container_explications_fonctions .box .content_explications_fonctions p {
        font-size: 0.96em;
    }
}

/*Ordinateur portable - 1024px*/
@media all and (max-width: 1024px) {
    /*Changement de la taille des boîtes*/
    .container_explications_fonctions .box:nth-child(1),
    .container_explications_fonctions .box:nth-child(2) {
        width: 400px;
        height: 500px;
    }
    /*Changement des taille de la police*/
    .container_explications_fonctions .box .content_explications_fonctions h2 {
        font-size: 1.6em;
    }
    .container_explications_fonctions .box .content_explications_fonctions pre,
    .container_explications_fonctions .box .content_explications_fonctions p {
        font-size: 0.8em;
    }
}

/*tablette 768px*/
@media all and (max-width: 768px) {
    /*Changement de la taille des boîtes*/
    .container_explications_fonctions .box:nth-child(1),
    .container_explications_fonctions .box:nth-child(2) {
        width: 300px;
        height: 400px;
    }
    /*Changement des taille de la police*/
    .container_explications_fonctions .box .content_explications_fonctions h2 {
        font-size: 1.3em;
    }
    .container_explications_fonctions .box .content_explications_fonctions pre,
    .container_explications_fonctions .box .content_explications_fonctions p {
        font-size: 0.8em;
    }
}

/* Styles pour les écrans de taille (smartphones Android)*/
@media all and (max-width: 425px) {
    /*Changement de la taille des boîtes*/
    .container_explications_fonctions .box:nth-child(1),
    .container_explications_fonctions .box:nth-child(2) {
        width: 200px;
        height: 275px;
    }
    /*Changement des taille de la police*/
    .container_explications_fonctions .box .content_explications_fonctions h2 {
        font-size: 1em;
    }
    .container_explications_fonctions .box .content_explications_fonctions pre,
    .container_explications_fonctions .box .content_explications_fonctions p {
        font-size: 0.7em;
        text-align: left;
        margin: auto;
    }
}