h3 {
    font-size: 3em; /* Ajustez la valeur en fonction de la taille souhaitée */
    text-align: center;
    margin: 50px;
}

#margin {
    margin-top: -200px;
    margin-bottom: 50px;
}

footer {
    display: flex;
    position: absolute;
    top: 8600px;
    left: 1700px;
}

footer p {
    margin: 0;
}

footer p:not(:last-child) {
    margin-right: 10px;
}



/* Ordinateur portable L - 1440px*/
@media all and (max-width: 1440px) {
    h3 {
        font-size: 2.2em; /* Ajustez la valeur en fonction de la taille souhaitée */
        margin: 10px;
    }
    footer {
        top: 7300px;
        left: 1210px;
    }
}





/*tablette 768px*/
@media all and (max-width: 768px) {
    h3 {
        font-size: 1.6em; /* Ajustez la valeur en fonction de la taille souhaitée */
        margin: 10px;
    }
    #margin {
        margin-top: 300px;
        margin-bottom: 10px;
    }
    footer {
        display: none;
    }
}







/* Styles pour les écrans de taille (smartphones Android)*/
@media all and (max-width: 425px) {
    h3 {
        font-size: 1.5em; /* Ajustez la valeur en fonction de la taille souhaitée */
        margin: 10px;
    }
    footer {
        display: none;
    }
}