h3.custom-link {
    position: absolute;
    background: white;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
}


h3.custom-link:hover {
    background: var(--clr);
    color: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}

h3.custom-link::before {
    content: '';
    position: absolute;
    inset: 2px;
    background: black;
}

h3.custom-link span {
    position: relative;
    z-index: 1;
}

h3.custom-link span i {
    position: absolute;
    inset: 0;
    display: block;
}

h3.custom-link i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: black;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

h3.custom-link:hover i::before {
    width: 20px;
    left: 20%;
}

h3.custom-link i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: black;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

h3.custom-link:hover i::after {
    width: 20px;
    left: 80%;
}