* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
    color: white;
}

body {
    background: black;
}

/* Bar */
body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
body::-webkit-scrollbar-track {
    background-color: black;
}
body::-webkit-scrollbar-thumb {
    background: linear-gradient(315deg,white,black);
    border-radius: 15px;
}
/*Fin Bar*/

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    position: absolute;
    display: flex;
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    top: 100px;
    left: 50%;
    transform: translateX(-50%); /* pour centrer horizontalement */
}
h3 {
    font-size: 3em;
    text-align: center;
    margin: 50px;
}

.text {
    margin: 250px;
    margin-top: 0px;
    margin-bottom: 200px;
    text-align: justify;
}

footer {
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}
footer p {
    margin: 10px;
}
footer p:not(:last-child) {
    margin-right: 10px;
}



@media all and (min-width: 1441px)  and (max-width: 1919px) {
    .text {
        margin: 150px;
        margin-top: 0px;
        font-size: 0.8em;
    }
}

/* Ordinateur portable L - 1440px*/
@media all and (max-width: 1440px) {
    /*Taille de toutes les boxs*/
    h3 {
        margin: 10px;
        margin-top: 0;
    }
    .text {
        margin: 150px;
        margin-top: -100px;
        font-size: 0.8em;
    }
}

@media all and (min-width: 1024px) and (max-width: 1349px) {
    #margin {
        margin-top: 350px;
    }
    .text {
        margin-top: 250px;
    }
}

@media all and (max-width: 1024px) {
    .text {
        margin: 80px;
        margin-top: 250px;
    }
}

@media all and (max-width: 1023px) {
    h1 {
        top: 70px;
    }
    #margin {
        margin-top: 300px;
    }
    footer img {
        width: 70%;
    }
    footer p:not(:last-child) {
        margin-right: -20px;
    }
}

/*tablette 768px*/
@media all and (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.6em;
    }
    #margin {
        margin-top: 300px;
    }
}

/* Styles pour les écrans de taille (smartphones Android)*/
@media all and (max-width: 425px) {
    h1 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.5em;
    }
    .text {
        margin: 60px;
        margin-top: 200px;
        font-size: 0.7em;
    }
    footer {
        display: none;
    }
}