footer {
    display: flex;
    position: absolute;
    top: 1750px;
    left: 1700px;
}

footer p {
    margin: 0;
}

footer p:not(:last-child) {
    margin-right: 10px;
}


/* Ordinateur portable L - 1440px*/
@media all and (max-width: 1440px) {
    footer {
        top: 1500px;
        left: 1220px;
    }
}

/* smartphones Android, Tablette et Ordinateur portable - 1024px*/
@media all and (max-width: 1024px) {
    footer {
        display: none;
    }
}